<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wheaton">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/wheatonlogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/wheatonlogo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Dining.BalfourWebViewActivity"></activity>
        <activity android:name=".Dining.DavisWebViewActivity" />
        <activity android:name=".events.event_fragment_filter" />
        <activity android:name=".events.event_fragment_item" />
        <activity android:name=".athletics.onlineLinks" />
        <activity android:name=".First_Year.academic_calendar" />
        <activity android:name=".First_Year.imp_phone_num" />
        <activity android:name=".First_Year.financial_aid_office" />
        <activity android:name=".First_Year.admissions_office" />
        <activity android:name=".First_Year.registrar_office" />
        <activity android:name=".First_Year.clubs" />
        <activity android:name=".First_Year.education" />
        <activity android:name=".Dining.DavisActivity" />
        <activity android:name=".Dining.EmersonActivity" />
        <activity android:name=".Dining.ChaseActivity" />
        <activity android:name=".Dining.BalfourActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <data
                    android:host="www.example.com"
                    android:scheme="http" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>